
/* style css start */
/* demo css start */
*{
	padding:0px;
	margin:0px;
}
.container > header,
.codeconvey-top {
	font-family: 'Lato', Arial, sans-serif;
}

.item iframe{
	width: 100%;
	min-height: 800px;
	
}

.container > header {
   
    bottom: 0;
    color: #fff;
    margin: 0 auto;
    padding: 2em;
    position: absolute;
    text-align: center;
    width: 95%;
}
.container > header h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
	color:#f0f21e;
}

.container > header span {
	display: block;
	font-size: 60%;
	color: #ceccc6;
	padding: 0 0 0.6em 0.1em;
}
.codeconvey-top {
    font-size: 0.69em;
    line-height: 2.2;
    margin: 0 auto;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
}
.codeconvey-top a {
    color: #f0f21e;
    display: inline-block;
    letter-spacing: 0.1em;
    padding: 15px 25px;
    text-decoration: none;
	text-decoration: none;
	background:rgba(0,0,0,0.5);
	transition: .6s background; 
}

.codeconvey-top a:hover {
	background: rgba(255,255,255,0.95);
	color: #716d62;
}

.codeconvey-top span.right {
	float: right;
}

.codeconvey-top span.right a {
	float: left;
	display: block;
}



.container > section {
	margin: 0 auto;
	padding: 10em 3em;
	text-align: center;
}

.color-1 {
	background: #435a6b;
}

.color-2 {
	background: #f39c12;
}

.color-3 {
	background: #2ac56c;
}

.color-4 {
	background: #0e83cd;
}

.color-5 {
	background: #cd4436;
}

.color-6 {
	background: #f19f0f;
}

.color-7 {
	background: #3fa46a;
}

.color-8 {
	background: #ecf0f1;
}

.color-9 {
	background: #9e487f;
}

.color-10 {
	background: #16a085;
}

.color-11 {
	background: #aab7b7;
}

@media screen and (max-width: 25em) {

	.codeconvey-icon span {
		display: none;
	}

}

/* demo css end */


/* component css start */

video#videobg { 
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	transform: translateX(-50%) translateY(-50%);
	background: url('images/poster.jpg') no-repeat;
	background-size: cover;
	transition: 1s opacity;
}

/* end of th component css */
body{
	background-color:#fff !important;
}
section{
	position: relative;
}
.main_wrapper{
height: 767px;
//overflow: hidden;
}

.wrapper{
	//height: 4500px;
}

/*============================   menu section css start ================================*/

#menu_section{
	height: 800px;
	background-image: url("images/menu_bg.jpg");
	background-repeat: no-repeat;
	background-position: center; 
	background-size: cover;
	background-attachment: fixed;
	padding:25px 10px 45px;
	display: none;
	z-index: 20;
	position: relative;
}



#menu_section .home_slider_menu .home_logo{
	position: fixed;

}

#menu_section .btn_close{
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
    z-index: 20;
}


#menu_section .btn_close:before{
    content: '';
    width: 20px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: rotate(50deg);
    -webkit-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
}

#menu_section .btn_close:after{
    content: '';
    width: 20px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: rotate(-50deg);
    -webkit-transform: rotate(-50deg);
    -o-transform: rotate(-50deg);
    -moz-transform: rotate(-50deg);
}

ul.menu_list{
	color:#fff;
	list-style: none;
	text-align: center;
	margin-top:10%;

}
ul.menu_list li{
	list-style: none;
	
}
ul.menu_list li a{
	color:#fff;
	font-family: 'Fjalla One', sans-serif;
	font-size: 130px;
	text-decoration:none;
	line-height: 130px;
	display: block;
}
.social_icons{
	text-align: center;
}
.social_icons img{
	margin:10px;
	padding-top:5%;
}

/*========================================== menu section css end =================================*/

#page_1{
	height: 800px;
	//background-color:#008080;
	padding:25px 10px 45px;
	background-image: url("images/home_bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center; 
	background-attachment: fixed;

}

.home_slider_menu .fa-cog{
	color:#fff;
	font-size: 40px;
}



.home_slider_menu .menu_btn span{
	display: block;
	margin:5px;
}

.home_slider_menu .glyphicon-minus{
	color:#fff;
	font-size: 30px;
	display:block;
	line-height: 12px;


}

.home_slider_menu .home_logo{
	position: fixed;
	cursor: pointer;
	z-index: 11;
	top:30px;
	left:15px;
}

.home_slider_menu .menu_btn{
	position: fixed;
	right: 15px;
	cursor: pointer;
	z-index: 11;
	top:30px;
}
.home_slider_menu .menu_btn span{
	height: 5px;
	background-color: #fff;
	width: 40px;
	//margin-left: 50px;
	z-index: 1;
	//position: absolute;
	right: 50px;
	cursor:pointer;
}
.home_slider_menu .menu_btn span:nth-child(1) {
top:0;
}
.home_slider_menu .menu_btn span:nth-child(2) {
top:9px;
}
.home_slider_menu .menu_btn span:nth-child(3) {
top:18px;
}

.home_slider_menu button{
	height: 5px;
    width: 35px;
    clear: both;
    margin: 1px 0px;
}
.slider_text, .slider_text1 {
    padding-top: 7%;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}

.slider_text h3, .slider_text1 h3{
	font-family: 'Droid Serif', serif;
	font-style:italic;
	font-size:48px;
	color:#fff;
}
.slider_text span, .slider_text1 span{
	font-family: 'Fjalla One', sans-serif;
	font-size:150px;
	color:#fff;

}
.container-fluid.banner_home {
    padding: 0;
}

.scroll{
	position: fixed;
    left: 0;
    bottom: 8px;
    z-index: 11;
    cursor: pointer;
    width: 100%;
    top: inherit;
    opacity: 1;
}
.scroll h5{
	color:#fff;
	font-weight: bold;
}
.scroll div span{
	color: #fff;
	display:block;
	line-height: 8px;
	font-size: 15px;
}

ol.slide_btn{
	list-style: none;
	//position: fixed;
	z-index: 11;

}
.slide_btn{
	position: fixed;
	right:50px;
	top:50%;
}



.slide_btn li{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    text-indent: -999px;
    cursor: pointer;  
    clear:both;
    border: 1px solid #fff;
    border-radius: 10px;
    float:right;
    clear: both;
    padding:10px;
    background: rgba(255,255,255,0.4);

}
.slide_btn li:hover{
   background-color:transparent !important; 

}
.active{
	background-color:transparent !important;
}

.banner_text{position: absolute;
    top: 0;
    width: 100%;
    text-align: center}





/*------------------------  google_page css start ------------------*/

#page_2{
	background-image: url("images/google_bg.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 800px;
}
 .google_bg{
	height: 400px;	
	background:rgba(70, 175, 205,0.9);
	width: 50%;
	margin: 0px auto;	
	margin-top: 13%;
}
 .google_bg h1{
	font-family: 'Fjalla One', sans-serif;
	font-size:150px;
	color:#fff;
	margin-top:12%;
}
.google_bg button{
	font-family: 'Fjalla One', sans-serif;
	background: transparent;
	border:2px solid #fff;
	border-radius: 0px;
	color:#fff;
	width: 135px;
	//margin-left:40%;
	font-size: 18px;
	
}
 .google_bg button:hover{
	border: 5px solid #000;
	-moz-border-bottom-colors: #555 #666 #777 #888 #999 #aaa #bbb #ccc;
	-moz-border-top-colors: #555 #666 #777 #888 #999 #aaa #bbb #ccc;
	-moz-border-left-colors: #555 #666 #777 #888 #999 #aaa #bbb #ccc;
	-moz-border-right-colors: #555 #666 #777 #888 #999 #aaa #bbb #ccc;
	
}



/*#page_2 .google_bg button:hover{ border-width: 3px; border-style: solid; -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%; -webkit-border-image: -webkit-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%; -moz-border-image: -moz-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%; -o-border-image: -o-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%; border-image: linear-gradient(to top, black, rgba(0, 0, 0, 0)) 1 100%; }*/

/*#page_2 .google_bg a {
  font-size: 30px;
  text-decoration: none;
  color: #666;
  cursor: pointer;
  padding-right: 3%;
  padding-bottom: 3%;
  position: relative;
  display: inline-block;
}
#page_2 .google_bg a:after {
  display:block;
  content: '';
  height:4px;
  background:#019fb6;
  transform: scaleX(0.0001);  
  transition: transform 250ms ease-in-out;
  box-shadow: inset -40px 0px 30px -25px #fff, inset 40px 0px 30px -25px #fff;
}
#page_2 .google_bg a:hover:after {
  transform: scaleX(1);
}*/


/*------------------------  pnc_page css start ------------------*/

#page_3{
	background-image: url("images/pnc_bg.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 800px;
}


/*------------------------  cnn_page css start ------------------*/

#page_4{
	background-image: url("images/cnn_bg.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 800px;
}


/*------------------------  home_slider_5 css start ------------------*/



h1{
	text-align: center;
	position: relative;
	top: 50%;
}

.vertical .carousel-inner {
  height: 100%;
}

.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}
.carousel-indicators{
	//top:-50px;
}

.carousel.vertical .active {
  top: 0;
}

.carousel.vertical .next {
  top: 400px;
}

.carousel.vertical .prev {
  top: -400px;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

.carousel.vertical .active.left {
  top: -400px;
}

.carousel.vertical .active.right {
  top: 400px;
}

.carousel.vertical .item {
    left: 0;
}
/*Portfolio page css*/
body{
	background-color:#000;
}

.no_pad{
	padding:3px;
}
#portfolio_page{
	background:#000;
	padding-top:50px;

}
#portfolio_page h2{
	font-family: 'Droid Serif', serif;
	font-style:italic;
	font-size:48px;
	color:#fff;
	text-align: center;
	margin-bottom: 30px;
}
#portfolio_page .btn-primary{
	border-radius: 0;
	min-width: 100%;
	font-family: 'Fjalla One', sans-serif;
	color:#fff;
	font-size: 40px;
	background-color: #000;
	padding:10px 0px;
	border:4px solid #fff;
}
#portfolio_page .dropdown-menu{
	border-radius: 0;
	min-width: 100%;
	font-family: 'Fjalla One', sans-serif;
	color:#fff;
	font-size: 40px;
	background-color: #fff;
	//border: 4px solid #fff;
	padding:0px;
	margin-top:-1px;
}
}
#portfolio_page .dropdown{
	border-radius: 0;
	min-width: 100%;
	font-family: 'Fjalla One', sans-serif;
	color:#fff;
	font-size: 40px;
	border:4px solid #fff;
	//padding:15px;
	//background-color: #000;

}
#portfolio_page .dropdown span{
	font-size: 20px;
	position: relative;
	top: -8px;
	left: 10px;
}

#portfolio_page .dropdown-menu li a{
	font-family: 'Fjalla One', sans-serif;
	color:#000;
	font-size: 30px;
	text-align: center;
	line-height: 70px;
	border-bottom: 1px solid #ccc;
}
#portfolio_page .dropdown-menu li a:hover{
	background-color:#46afcd;
	color:#fff;
	border:none;
}
#portfolio_page .dropdown-menu li a:hover {
	background-color:#46afcd;
	color:#fff;

}

.port_images{
	margin:30px 0px;
	cursor: pointer;
}
.details{
	position: absolute;
	background-color:#46afcd;
	padding:10px 0px;
	width: 100%;
	//top: 0px;
	//bottom: 0px;
	color:#fff;
	text-align: center;
	display: none;
	bottom: 0px;
}
.item{

}
.port_bottom{
	padding:2%;
	background-color:#000;
}
.protfolio_bottom{
	background-color:#222;
	//height: 300px;
	//margin:1% 3%;
	padding:6% 1%;
	
}

.protfolio_bottom_img{
	height: 100px;
}
.protfolio_bottom_img img{
	width: 50px;
	text-align: center;
	margin: 0px auto;
	margin-top: 14%;
}
.about{
	background-color:#46afcd;
	padding:5px;
	text-align: center;
	//margin-top:25%;
}
.about h1 a{
	font-family: 'Fjalla One', sans-serif;
	color:#fff;
	font-size: 60px;

	}
/*portfolio page css end*/
/*----------------  portfolio_details_page css start -----------------------*/
#portfolio_details_page{
background-color: #000;
   padding: 78px 60px 0px;
}
#portfolio_details_page .carousel-indicators li {
	background-color: #3C3B3B;
}
#portfolio_details_page .carousel-indicators .active {
	background-color: #fff !important;
}
.detail_content{
	text-align: center;
	color: #fff;
}
.detail_content h3{
	font-family: 'Cantarell', sans-serif;
	font-size: 20px;
	font-weight: bold;
	
}
.detail_content h1{
	font-family: 'Fjalla One', sans-serif;
	font-size: 34px;
	font-weight: bold;
	color: #fff;
}
.detail_content h5{
	font-family: 'Droid Serif', serif;
	font-size: 12px;	
	color: gray;
	font-style: italic;
}
.next_project{
	text-align: center;
	color: #fff;
	padding-bottom: 50px;
	padding-top: 30px;
}
.next_project .next_btnn i{
	font-size: 20px;
}
.next_project .next_btnn{
    width: 45px;
    height: 45px;
    border: 2px solid #fff;
    line-height: 43px;
    float: left;
    margin:10px;
    cursor: pointer;
}
.project_detail{
	width: 45px;
    height: 45px;
    float: left;
    margin:10px;
    width: 50%;
    background-color:#46afcd;
    margin-right: auto;
	margin-left: auto;
	display: block;
	cursor: pointer;
}
.project_detail h3{
	font-family: 'Fjalla One', sans-serif;
	font-size: 18px;
	color: #fff;
	line-height: 7px;
}
.carousel-control.left,.carousel-control.right{
	background-image: none;
}

/*----------------  portfolio_details_page css end -----------------------*/


/*-------------------  About page css start -----------------------------*/

.about_video{
	background-color: #EBEBEB;
	//height: 400px;
	padding:6% 3% 3%;
}

.video_bottom{
	margin-top:5%;
	text-align: center;
}

.about_video h1{
	font-family: 'Fjalla One', sans-serif;
	font-size: 90px;
	color:#000;
}
.about_video h4{
	font-family: 'Droid Serif', serif;
	font-size: 30px;	
	color: #42B2D7;
	font-style: italic;
	margin-bottom: 5%;
}
.about_video p{
	font-family: 'Fjalla One', sans-serif;
	font-size: 20px;	
	color: #000;
	margin-top:2%;

}


.team_details{
	background-color:#42B2D7;
	text-align: center;
	padding:3% 0 0;
}
.team_details h1{
	font-family: 'Fjalla One', sans-serif;
	font-size: 90px;
	color:#fff;
	margin-bottom: 5%;
}
.team_details h3{
    font-family: 'Fjalla One', sans-serif;
    font-size: 40px;
    color: #fff;
    border-bottom: 2px solid #fff;
    width: 185px;
    padding-bottom: 2%;
    margin:0px auto;
    margin-bottom:10%;
}

.detail_img img{
	width: 100px;
	margin-top:12%;
	//border:1px solid #ccc;
}
h3.producer{
	width: 320px !important;
}
.description{
	padding-top:2%;
	background-color: #EBEBEB;
}
.team_description{
	margin-bottom: 5%;
}

.deg_content,.pro_content{
	width: 90%;
	background-color:#42B2D7;
	margin:3%;
	padding:8%;
	position: relative;
}
.deg_content:after{
	position: absolute;
	content: "";
	bottom:100%;
	left: 45%;
	//width: 15px;
	border-top: 0;
	margin: 0 auto;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #42B2D7;
}

.pro_content:after{
	position: absolute;
	content: "";
	bottom:100%;
	left: 45%;
	//width: 15px;
	border-top: 0;
	margin: 0 auto;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #42B2D7;
}

.deg_content,.pro_content{
	color: #fff;
}
.pro_content{
	margin-top:13%;
	text-align: center;
}

.pro_content p{
	text-align: left;
}
.clients h1{
	font-family: 'Fjalla One', sans-serif;
	font-size: 90px;
	color:#000;	
	margin-bottom: 3%;
}
.clients p{
	font-family: 'Fjalla One', sans-serif;
	font-size: 20px;	
	color: #000;
	text-align: center;
	margin-top:2%;
	margin-bottom: 3%;

}
.client_view{

}
.client_view .col-md-2{
	width:20%;

}
.client_view img{
	margin:0px auto;
	margin-top:10%;
	//width:50px;
}
.client_view .view_bg{
	//width: 90%;
	background-color:#42B2D7;
	padding:5%;
	position: relative;
}
.client_view .col-md-2:nth-child(even) .view_bg{
	margin-top:30%;
	margin-left: 2%;
	margin-right:2%;
}
.client_view .view_bg:before{
	position: absolute;
	content: "";
	top:100%;
	left: 45%;
	//width: 15px;
	border-top: 0;
	margin: 0 auto;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #42B2D7;
	border-bottom: none;
}

.client_view .view h4{
	font-family: 'Fjalla One', sans-serif;
	font-size: 20px;	
	color: #5b5656;	
}
.client_view .view h5{
	font-family: 'Fjalla One', sans-serif;
	font-size: 16px;	
	color: #5b5656;	
	line-height: 0px;
    margin-bottom: 13%;
    font-size: 14px;
}
.client_view .view p{
	//font-family: 'Fjalla One', sans-serif;
	color:#fff;
	font-size: 13px;
}




/*.team_details .details h3{
	
}*/



#curly-brace
{
  width: 210px;
  position: relative;
  color: #fff;
  -ms-transform: rotate(180deg); /* IE 9 */
 -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
  top:40px;
  margin:0px auto;
/*  left: 50%;
  margin-left: -150px;
  top: 150px;*/
}

.brace
{
  border-bottom: 5px solid;
  margin: 0 10%;
  width: 30%;
  height: 20px;  
  float: left;
}

.brace:before,
.brace:after
{
  content: "";
  width: 10%;
  height: 50px;
  position: absolute;
  display: block;
}

#left:before
{  
  border-bottom: 5px solid;  
  border-bottom-left-radius: 20px;
  margin-left: -10%;
  margin-top: -30px;
}

#left:after
{
  border-top: 5px solid;
  border-top-right-radius: 20px;
  margin-left: 30%;
  margin-top: 15px;    
}

#right:before
{
  border-top: 5px solid;
  border-top-left-radius: 20px;
  margin-left: -10%;
  margin-top: 15px;
}

#right:after
{
  border-bottom: 5px solid;
  border-bottom-right-radius: 20px;
  margin-left: 30%;
  margin-top: -30px;
}
.about_header_2 a span{
	color:#000;
}

/*-------------------  About page css end -----------------------------*/

/*----------------------- contact us css start -----------------------------*/
.contact_part{
	background-color: #EBEBEB;
	//height: 400px;
	padding:6% 0% 0%;
}
.contact_part h1{
	font-family: 'Fjalla One', sans-serif;
	font-size: 80px;
	color:#000;
	margin-bottom: 3%;
}
.form-group label{
	font-weight: normal;
	font-family: 'Cantarell', sans-serif;
	font-size: 28px;
}
.form-inline .form-group{
	text-align: justify;
}
.text_field{
	//min-height: 400px;
	background-color: #fff;
	border:3px solid #000;
	padding:3%;

}
.form-inline .form-control{
	border:1px solid #000;
	border-radius: 0px;
	border-top:none;
	border-left:none;
	border-right:none;
	font-family: 'Fjalla One', sans-serif;
	font-size: 16px;
	box-shadow: none;
	text-align: center;
	width: 150px;
}
.form-control:focus{
	box-shadow: none;
}
.contact_part .btn:hover{
	color:#fff;
}
.info_foundry {
    position: absolute;
    top: 25%;
    color: #fff;
    width: 60%;
    left: 27%;

}
.info_foundry .btn-info{
    border-radius: 0px;
    background-color: transparent;
    border: 2px solid #fff;
    font-family: 'Fjalla One', sans-serif;
    font-size: 14px;
    padding: 5px 40px;
    margin-top: 5%;

}
.info_foundry h2{
    color: #fff;
    left: 27%;
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    line-height: 35px;
}
.cheers_btn{
	background-color: #000;
	border-radius: 0px;
	color: #fff;
	width: 150px;
	font-family: 'Fjalla One', sans-serif;
	margin:5% 0% 3%;
}
.no_padding{
	padding:0px;
}
.contact_logo_part{
	//min-height: 400px;
	background-color:#46AFCC;
	text-align: center;
	padding:5% 3%;
}
.contact_logo_part img{
	text-align: center;
	margin:0px auto;
}
.contact_social_icons{
	text-align: center;
	margin-left: 43%;
	margin-top:1%;
	margin-bottom: 8%;
}
.contact_logo{
	width:23%;
}
.contact_social_icons img{
	float: left;
	padding:10px 14px;
	//margin:0px auto;
	//width: 50px;
}
.contact_logo_part h3{
	font-family: 'Fjalla One', sans-serif;
	color:#fff;
}
.contact_logo_part h5{
	color:#fff;
	margin-bottom: 2%;
}
.contact_logo_part .form-group{
width: 50%;
margin-right: -5px;
}
.contact_logo_part .form-group input{
	width: 100%;
	text-align: left;
	border:none;
	border-radius: 0px;
}
.contact_logo_part .btn-primary{
	border-radius: 0px;
	background-color: #000;
	height: auto;
}
.contact_logo_part i{
	color:#fff;
	font-size: 16px;
	margin-left: 6px;
	margin-top:1%;
}
.contact_logo_part i span{
    margin-left: 6px;
    font-size: 12px;
    font-family: verdana;
}
.contact_bottom_part{
	background-color:#EBEBEB;
	padding:2%;
}
.about_2 {
    background-color: transparent;
    padding: 5px;
    text-align: center;
    //margin-top: 25%;
    border:5px solid #46AFCC;
}
.about_2 h1 a:hover,.about h1 a:hover {
    text-decoration: none;
}
.about_2 h1 a {
    font-family: 'Fjalla One', sans-serif;
    color: #fff;
    font-size: 60px;
}
/*.contact_bottom_part{
    background-color: transparent;

}*/


/*----------------------- contact us css end -----------------------------*/