body{background:#fff;}

a,a:hover,a:focus{text-decoration:none !important;}

ul{padding:0px;}

body,html{height:100%;}

section{position:relative !important;height:100%;overflow: hidden;}

.main_wrapper{height:100%;}

.overflow{overflow:hidden;}

.wrapper{height:100%;}

html.fp-enabled,

.fp-enabled body{margin:0;padding:0;overflow:hidden;-webkit-tap-highlight-color:rgba(0,0,0,0);}

#menu_section{min-height:100%;display:none;z-index:20;position:fixed;width:100%;top:-1px;bottom:-1px;}

.home_slider_menu{position:relative;margin:0px auto;min-height:100%;}

.social_icons{text-align:center;//position:relative;top:50px;}

.social_icons a .fa{color:#fff;font-size:40px;margin:5px;}

#menu_section .home_slider_menu .home_logo{position:fixed;}

#menu_section .menu_bg{position:absolute;width:100%;height:100%;}

#menu_section .btn_close{position:absolute;right:10px;top:30px;width:32px;height:32px;cursor:pointer;z-index:20;}

#menu_section .btn_close:before{content:'';width:20px;height:3px;background-color:#fff;position:absolute;left:20%;top:50%;transform:rotate(50deg);-webkit-transform:rotate(50deg);-o-transform:rotate(50deg);-moz-transform:rotate(50deg);}

#menu_section .btn_close:after{content:'';width:20px;height:3px;background-color:#fff;position:absolute;left:20%;top:50%;transform:rotate(-50deg);-webkit-transform:rotate(-50deg);-o-transform:rotate(-50deg);-moz-transform:rotate(-50deg);}

#menu_section .col-md-12{position: absolute;

    top: 0;

    bottom: 0;

    left: 0;

    right: 0;

    display: flex;

    align-items: center;

    align-content: center;

    justify-content: center;}

.menu_list{color:#fff;list-style:none;text-align:center;margin-top:6%;}

.menu_list li{list-style:none;}

.menu_list li a{color:#fff;font-family:'Fjalla One', sans-serif;font-size:100px;text-decoration:none;line-height:120px;}

.see_more_bg .fa-cog{color:#fff;font-size:100px;}

.home_slider_menu .menu_btn span{display:block;margin:5px;}

.home_slider_menu .glyphicon-minus{color:#fff;font-size:30px;display:block;line-height:12px;}

.home_slider_menu .home_logo{position:fixed;cursor:pointer;z-index:3;width:40px;top:30px;}

.home_slider_menu .menu_btn{position:fixed;right:15px;cursor:pointer;z-index:11;top:30px;}

.home_slider_menu .menu_btn span{height:5px;background-color:#fff;width:27px;z-index:1;right:50px;cursor:pointer;}

.home_slider_menu .menu_btn span:nth-child(1){top:0;}

.home_slider_menu .menu_btn span:nth-child(2){top:9px;}

.home_slider_menu .menu_btn span:nth-child(3){top:18px;}

.home_slider_menu button{height:5px;width:35px;clear:both;margin:1px 0px;}

section[id*="page_"]{min-height:100%;}

.slider_text{position:absolute;width:100%;height:100%;min-width:100%;display:flex;align-items:center;justify-content:center;z-index:2;top:0;}

div[class*="google_bg"]{background:rgba(70, 175, 205,0.9);padding:50px 50px 70px;min-height:200px;text-align:center;min-width:70%;position:relative;}

div[class*="google_bg"] span[id*="typed_"], div[class*="google_bg"] .typed-cursor{font-family:'Fjalla One', sans-serif;font-size:150px;color:#fff;//margin-top:50px;float:none !important;}

div[class*="google_bg"] .typed-cursor{position:relative;top:-13px;font-family:"Droid Serif",serif;}

video#videobg{position:absolute;top:50%;left:50%;min-width:100%;min-height:100%;width:auto;height:auto;z-index:-100;transform:translateX(-50%) translateY(-50%);//background:url('images/poster.jpg') no-repeat;background-size:cover;transition:1s opacity;}

video#videobglast{position:absolute;top:50%;left:50%;min-width:100%;min-height:100%;width:auto;height:auto;z-index:-100;transform:translateX(-50%) translateY(-50%);//background:url('images/poster.jpg') no-repeat;background-size:cover;transition:1s opacity;}

div[class*="google_bg"] a.btn{font-family:'Fjalla One', sans-serif;background:transparent;border:2px solid #fff;border-radius:0px;color:#fff;font-size:18px;padding:10px 30px;clear:both;margin-top:20px;}

div[class*="google_bg"] a.btn:hover{background-color:#fff;color:#46A2BD;text-decoration:none;}

.slider_text h3{font-family:'Droid Serif', serif;font-style:italic;font-size:48px;color:#fff;}

.tp_1 #typed_home{font-family:'Fjalla One', sans-serif;font-size:150px;color:#fff;}

.tp_1 span.typed-cursor{font-family:"Droid Serif",serif;font-size:150px;color:#fff;line-height:150px;position:relative;top:-13px;}

.tp_2 span.typed-cursor,.tp_2 span#typed_home_2{font-family:'Droid Serif', serif;font-style:italic;font-size:48px;color:#fff;}

.scroll{position:fixed;bottom:15px;cursor:pointer;text-align:center;width:100%;display:block;z-index:1;}

.scroll h5{color:#fff;font-family:'Fjalla One', sans-serif;margin-bottom:5px;}

.scroll div span{color:#fff;display:block;line-height:6px;font-size:10px;}

ol.slide_btn{list-style:none;//position:fixed;z-index:11;}

.slide_btn{position:fixed;right:20px;top:50%;}

.slide_btn a{background-color:transparent !important;display:inline-block;width:10px;height:10px;margin:5px;cursor:pointer;clear:both;border:1px solid #fff;border-radius:10px;float:right;clear:both;}

.slide_btn a:hover,.slide_btn a.active{background-color:#fff !important;}

#typed_home2 span.typed-cursor{font-size:48px;}

#typed_about4{color:#000;font-family:'Fjalla One', sans-serif;font-size:90px;font-style:normal;}

#typed_about1,#typed_about2,#typed_about3{font-family:'Fjalla One', sans-serif;font-size:40px;border-bottom:3px solid #fff;}

#typed_about5{font-size:90px;line-height:90px;}

.span-group ..typed-cursor{color:#000;}

.slider_img_align{position:relative;width:100%;height:100%;top:-1px;bottom:1px;}

.about_ani_1 span.typed-cursor{font-size:90px;font-family:'Droid Serif';font-style:normal;color:#000;position:relative;top:-13px;left:5px;}

.span-group{display:block;text-align:center;}

.about_ani_2{min-height:180px;}

.about_ani_2 span.typed-cursor{font-size:90px;font-family:'Droid Serif';position:relative;top:-18px;left:5px;}

.about_ani span.typed-cursor{font-size:45px;//border-bottom:3px solid #fff;font-family:'Droid Serif';position:relative;top:-1px;left:5px;}

#nav_scroll{z-index:1;}

.see_more_bg span{font-size:48px !important;float:none !important;}

.see_more_bg .more_typed{display:block;width:100%;text-align:center;//float:left;//clear:both;margin:35px 0 !important;}

.more_buttons a.btn{background-color:transparent;color:#fff;border-radius:0;min-width:115px;border:2px solid #fff;font-family:'Fjalla One', sans-serif;}

.more_buttons a.btn:hover{background-color:#fff;color:#000;border:2px solid #fff;}

.type-wrap{margin:10px auto;padding:20px;background:#f0f0f0;border-radius:5px;border:#CCC 1px solid;}

.typed-cursor{opacity:1;color:#fff;-webkit-animation:blink 0.9s infinite;-moz-animation:blink 0.9s infinite;-ms-animation:blink 0.9s infinite;-o-animation:blink 0.9s infinite;animation:blink 0.9s infinite;}

@-keyframes blink{0%{opacity:1;}

50%{opacity:0;}

100%{opacity:1;}

}

@-webkit-keyframes blink{0%{opacity:1;}

50%{opacity:0;}

100%{opacity:1;}

}

@-moz-keyframes blink{0%{opacity:1;}

50%{opacity:0;}

100%{opacity:1;}

}

@-ms-keyframes blink{0%{opacity:1;}

50%{opacity:0;}

100%{opacity:1;}

}

@-o-keyframes blink{0%{opacity:1;}

50%{opacity:0;}

100%{opacity:1;}

}

body{background-color:#000;}

.no_pad{padding:3px;}

#portfolio_page{background:#000;padding:50px 75px 10px;position:relative;z-index:2;}

.ports_img{width:100%;position:relative;}

.no_pad_port{padding:0px !important;border:5px solid #000;}

#portfolio_page #typed_work,#portfolio_page .typed-cursor,#ajax_portfolio_page #typed_work_2{font-family:'Droid Serif', serif;font-style:italic;font-size:48px;color:#fff;text-align:center;}

.work_typed{margin-bottom:30px;}

#portfolio_page .btn-primary{border-radius:0;min-width:400px;font-family:'Fjalla One', sans-serif;color:#fff;font-size:40px;background-color:#000;padding:10px 15px;border:4px solid #fff;//margin-left:-23%;}

#portfolio_page .dropdown-menu{border-radius:0;min-width:400px;font-family:'Fjalla One', sans-serif;color:#fff;font-size:40px;background-color:#fff;padding:0px;margin-top:18px;text-align:center;}

#portfolio_page .dropdown{border-radius:0;//width:80%;font-family:'Fjalla One', sans-serif;color:#fff;font-size:40px;text-align:center;display:inline;}

#portfolio_page .dropdown span{font-size:20px;position:relative;top:-6px;left:6px;}

#portfolio_page .dropdown-menu li a{font-family:'Fjalla One', sans-serif;color:#000;font-size:30px;text-align:center;line-height:70px;border-bottom:1px solid #ccc;}

#portfolio_page .dropdown-menu li a:hover{background-color:#46afcd;color:#fff;border:none;}

#portfolio_page .dropdown-menu li a:hover{background-color:#46afcd;color:#fff;}

.port_images{margin:30px 0px;cursor:pointer;}

.port_images .item {max-height: 379px;}

.details{position:absolute;background:rgba(0,0,0,0.9);padding:10px 0px;width:100%;left:0px;color:#fff;text-align:center;display:none;bottom:0px;}

.details h3{margin-top:10px;}

.details h3 a,.details h3 a:hover,.details h3 a:focus{color:#fff;font-size:30px;font-family:'Fjalla One', sans-serif;text-decoration:none;}

h6.cat_name{font-family:'Droid Serif', serif;font-size:18px;font-style:italic;}

.details .comp_name{font-family:'Cantarell', sans-serif;font-size:18px;}

.details a{color:#fff;}

.item{//border:5px solid #000;overflow:hidden;}

.port_bottom{padding:20px 20px 60px;background-color:#000;clear:both;}

.protfolio_bottom{background-color:#111;padding:6% 1%;}

.protfolio_bottom_img{//height:100px;}

.protfolio_bottom_img img{width:50px;text-align:center;margin:0px auto;//margin-top:14%;margin-bottom: 3%;}

.footer_link_pages{display:flex;justify-content:center;}

.footer_link_pages .col-md-4{width: 30%;}

.about{background-color:#46afcd;padding:5px;text-align:center;margin-top:25%;}

.about h1 a{font-family:'Fjalla One', sans-serif;color:#fff;font-size:60px;}

#portfolio_details_page{background-color:#000;padding:78px 75px 0px;position:relative;z-index:2;}

.widget_text{list-style:none;}

#portfolio_details_page .carousel-indicators li{background-color:#474747;border:none !important;}

#portfolio_details_page .carousel-indicators .active{background-color:#fff !important;width:10px;height:10px;}

.detail_content{text-align:center;color:#fff;}

.detail_content h3{font-family:'Cantarell', sans-serif;font-size:20px;font-weight:bold;}

.detail_content h1{font-family:'Fjalla One', sans-serif;font-size:34px;margin-top:10px;color:#fff;}

.detail_content h5{font-family:'Droid Serif', serif;font-size:12px;color:gray;font-style:italic;}

.next_project{text-align:center;color:#fff;padding-bottom:50px;padding-top:30px;}

.next_pre_btn{display:flex;justify-content:center;}

.next_project .next_btnn i{font-size:23px;color:#fff;line-height:43px;}

.next_project .next_btnn{width:45px;height:45px;border:2px solid #fff;line-height:43px;float:left;margin:10px;cursor:pointer;}

.project_detail{width:45px;height:45px;float:left;margin:10px;width:30%;background-color:#46afcd;margin-right:-5px;margin-left:-5px;display:block;cursor:pointer;}

.project_detail a:hover{text-decoration:none;}

.project_detail h3{font-family:'Fjalla One', sans-serif;font-size:18px;color:#fff;line-height:25px;margin-top:10px;}

.carousel-control.left,.carousel-control.right{background-image:none !important;}

.carousel-control .glyphicon-chevron-left{margin-left:-135px !important;}

.carousel-control .glyphicon-chevron-right{margin-right:-135px !important;}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .thumbnail a>img, .thumbnail>img{margin:0px auto;//width:100%;}

.about_video{background-color:#EBEBEB;//height:400px;padding:70px 75px 50px;}

.video_bottom{margin-top:5%;text-align:center;padding:10px 50px;}

.about_video h1, .about_video span{font-family:'Fjalla One', sans-serif;font-size:90px;color:#000;}

.about_video h4, .about_video span{font-family:'Droid Serif', serif;font-size:30px;color:#42B2D7;font-style:italic;margin-bottom:5%;}

.about_video p{font-family:'Fjalla One', sans-serif;font-size:20px;color:#000;margin-top:2%;}

.team{margin-bottom:50px;}

.team_pic{width:100%;}

.team_details{background-color:#40A7C6;text-align:center;padding:35px 30px 200px; position: relative;  background-position: -10px 100%; background-repeat: no-repeat; background-size: 100%;}

.team_details h1{font-family:'Fjalla One', sans-serif;font-size:90px;color:#fff;margin-bottom:200px;}

.team_details span{font-family:'Fjalla One', sans-serif;font-size:90px;color:#fff;margin-bottom:200px;}

.team_details h3{font-family:'Fjalla One', sans-serif;font-size:40px;color:#fff;text-decoration:underline;width:185px;padding-bottom:2%;margin:0px auto;margin-bottom:10%;}

.detail_img{margin-left:20px;}

.detail_img img{width:100px;margin-top:12%;float:left;//border:1px solid #ccc;}

h3.producer{//width:320px !important;}

.description{padding:70px 75px 50px;background-color:#EBEBEB;}

.team_description{margin-bottom:100px;padding:10px 50px;}

.col-md-4:nth-child(even) .deg_content{margin-top:15%;}

.deg_content,.pro_content{width:100%;background-color:#42B2D7;padding:30px 20px;position:relative;}

.deg_content:after{position:absolute;content:"";bottom:100%;left:45%;//width:15px;border-top:0;margin:0 auto;border-left:15px solid transparent;border-right:15px solid transparent;border-bottom:15px solid #42B2D7;}

.pro_content:after{position:absolute;content:"";bottom:100%;left:45%;//width:15px;border-top:0;margin:0 auto;border-left:15px solid transparent;border-right:15px solid transparent;border-bottom:15px solid #42B2D7;}

.deg_content,.pro_content{color:#fff; font-family: 'Droid Serif', serif; font-style: italic;}

.pro_content{//margin-top:13%;text-align:center;}

.pro_content p{//text-align:left;}

.clients{text-align:center;padding:10px 40px;}

.clients #typed_about6{font-family:'Fjalla One', sans-serif;font-size:90px;color:#000;margin-bottom:3%;}

.clients span.typed-cursor{font-size:90px;color:#000;margin-bottom:3%;font-family:'Droid Serif';position:relative;top:-13px;left:5px;}

.clients p{font-family:'Fjalla One', sans-serif;font-size:20px;color:#000;text-align:center;margin-top:2%;margin-bottom:30px;}

.client_view{margin-bottom:50px;padding:10px 50px;}

.client_view .col-md-2{width:20%;}

.client_view .col-md-2 .hvr-bob{display: block;}

.client_view img{margin:0px auto;margin-top:30px;}

.client_view .view_bg{//width:90%;background-color:#42B2D7;padding:5%;position:relative;}

.client_view .col-md-2:nth-child(even) .view_bg{margin-top:30%;margin-left:2%;margin-right:2%;}

.client_view .view_bg:before{position:absolute;content:"";top:100%;left:45%;//width:15px;border-top:0;margin:0 auto;border-left:15px solid transparent;border-right:15px solid transparent;border-top:15px solid #42B2D7;border-bottom:none;}

.client_view .view h4{font-family:'Fjalla One', sans-serif;font-size:20px;color:#5b5656;}

.client_view .view h5{font-family:'Fjalla One', sans-serif;font-size:16px;color:#5b5656;line-height:0px;margin-bottom:13%;font-size:14px;}

.client_view .view p{//font-family:'Fjalla One', sans-serif;color:#fff;font-size:13px;}

#curly-brace{width:210px;position:relative;color:#fff;-ms-transform:rotate(180deg);-webkit-transform:rotate(180deg);transform:rotate(180deg);top:80px;margin:0px auto;margin-bottom:130px;}

.brace{border-bottom:5px solid;margin:8px 10%;width:30%;height:20px;float:left;}

.brace:before,

.brace:after{content:"";width:10%;height:50px;position:absolute;display:block;}

#left:before{border-bottom:5px solid;border-bottom-left-radius:20px;margin-left:-10%;margin-top:-30px;}

#left:after{border-top:5px solid;border-top-right-radius:20px;margin-left:30%;margin-top:15px;}

#right:before{border-top:5px solid;border-top-left-radius:20px;margin-left:-10%;margin-top:15px;}

#right:after{border-bottom:5px solid;border-bottom-right-radius:20px;margin-left:30%;margin-top:-30px;}

.about_header_2 a span{color:#000;}

.contact_part{background-color:#EBEBEB;//height:400px;padding:6% 0% 0%;}

.submit_btn{position:absolute;bottom:-70px;left:45%;}

.contact_part .form-inline .text_field{float:left;box-shadow:2px 2px 2px #828181;}

.contact_part h1{font-family:'Fjalla One', sans-serif;font-size:80px;color:#000;margin-bottom:50px;text-align:center;}

.contact_part #typed_contact,.contact_part span.typed-cursor{font-family:'Fjalla One', sans-serif;font-size:80px;color:#000;text-align:center;}

.form-group label{font-weight:normal;font-family:'Cantarell', sans-serif;font-size:28px;line-height:46px;float:left;}

.form-inline .form-group{text-align:justify;}

span.contact_thanku{position:relative;top:-25px;}

.text_field{//min-height:400px;background-color:#fff;border:3px solid #000;padding:32px;margin-bottom:80px;}

.text_field span{position:relative;//float:left;}

.text_field span label.error{position:absolute;top:41px;left:-14px;bottom:25px;font-size:14px;line-height:12px;min-width:120% !important;//background-color:rgba(0,0,0,0.9);padding:5px;color:#f1061a;border-radius:0;text-align:center;}

.text_field span label.error:after{content:"";}

.form-inline .form-control{border:1px solid #000;border-radius:0px;border-top:none;border-left:none;border-right:none;font-family:'Fjalla One', sans-serif;font-size:16px;box-shadow:none;text-align:center;float:left;width:150px;height:40px;}

.form-control:focus{box-shadow:none;}

.contact_part .btn:hover{color:#fff;}

.contact_ad_bg{background-size:cover;background-repeat:no-repeat;height:100%;}

.info_foundry{position:relative;top:-5%;color:#fff;width:60%;left:20%;padding:14% 5%;}

.info_foundry .btn-info{border-radius:0px;background-color:transparent;border:2px solid #fff;font-family:'Fjalla One', sans-serif;font-size:14px;padding:5px 10px;margin-top:5%;}

.info_foundry h2{color:#fff;left:27%;font-family:'Fjalla One', sans-serif;font-size:30px;line-height:35px;}

.cheers_btn{background-color:#000;border-radius:0px;color:#fff;width:150px;font-family:'Fjalla One', sans-serif;margin-bottom:50px;height:40px;}

.no_padding{padding:0px;}

.contact_logo_part{height:auto !important;background-color:#46AFCC;text-align:center;padding:5% 3%;clear:both;}

.contact_logo_part img{text-align:center;margin:0px auto;}

.contact_social_icons{margin-top:20px;}

.contact_social_icons .fa{font-size:33px;margin:7px;}

.contact_logo{width:23%;}

.mc4wp-form-fields .input-group{width:55%;margin:0px auto;}

.mc4wp-form-fields .input-group input{height: 40px;border-radius: 0;}

.contact_social_icons img{float:left;padding:10px 14px;//margin:0px auto;//width:50px;}

.contact_logo_part h3{font-family:'Fjalla One', sans-serif;color:#fff;clear:both;}

.contact_logo_part h5{color:#fff;margin-bottom:2%;}

.contact_logo_part .form-group{width:50%;margin-right:-5px;}

.contact_logo_part .form-group input{width:100%;text-align:left;border:none;border-radius:0px;}

li#mc4wp_form_widget-3{list-style:none;}

.contact_logo_part .btn-primary{border-radius:0px;background-color:#000;height:40px;}

.contact_logo_part i{color:#fff;font-size:16px;margin-left:6px;margin-top:1%;}

.contact_logo_part i span{margin-left:6px;font-size:12px;font-family:verdana;}

.contact_bottom_part{background-color:#EBEBEB;padding:2%;}

.about_2{background-color:transparent;padding:0px;text-align:center;border:5px solid #46AFCC;}

.about_2:hover{background-color:#46AFCC;padding:0px;text-align:center;border:5px solid #46AFCC;color:#fff;}

.about_2:hover a{color:#fff;}

.about_2 a{font-family:'Fjalla One', sans-serif;color:#46AFCC;font-size:60px;display:block;}

.form-group p{font-weight:normal;font-family:'Droid Serif Italic';font-size:28px;line-height:46px;float:left;color:#000;font-style:italic;}

.text_field{margin:50px 0;}

.form-inline .form-control{float:none;display:inline;}

.form-inline span{font-size:40px !important;}

@media screen and (min-width:1281px){.slider_text h3{margin-bottom:28px;}

#curly-brace {

    margin-bottom: 180px;

}

}

@media screen and (max-width:1280px){.textwidget iframe{height:350px;}

.contact_part #typed_contact, .contact_part span.typed-cursor{font-size:70px;}

}

.video-wrapper{width:100%;height:100%;position:relative;text-align:center;}

video#video-link {width: 100%;}

.video-wrapper .video-btns{display:flex;display:-webkit-flex;display:-o-flex;display:-moz-flex;justify-content:center;-webkit-justify-content:center;-moz-justify-content:center;-o-justify-content:center;align-items:flex-end;-webkit-align-items:flex-end;-moz-align-items:flex-end;-o-align-items:flex-end;width:100%;height:100%;left:0;top:-30px;position:absolute;}

.video-wrapper .video-btns .btn{width:60px;padding:0;height:60px;text-align:center;line-height:60px;color:#fff;font-size:32px;margin:10px;border:none;border-radius:0;background-color:rgba(0,0,0,0.7);}

@media screen and (min-width:1281px){.slider_text{//padding-top:11%;}

.slide_btn{top:40%;}

}

@media screen and (max-width:1280px){.textwidget iframe{height:350px;}

}

@media screen and (max-width:1024px){.slider_text #typed_home,.tp_1 span.typed-cursor,.slider_text #typed_2,.google_bg2 span.typed-cursor,.slider_text #typed_3,.google_bg3 span.typed-cursor,.slider_text #typed_4,.google_bg4 span.typed-cursor,.slider_text #typed_5,.google_bg5 span.typed-cursor{font-size:130px !important;}

div[class*="google_bg"]{background:rgba(70, 175, 205,0.9);padding:50px 50px 70px;min-height:200px;text-align:center;min-width:78%;position:relative;}

.next_project .next_btnn{//margin-left:-5px;}

.project_detail{//margin-right:10px;margin-left:-5px;width:42%;}

.next_pre_btn{display:flex;justify-content:center;}

.carousel-control .glyphicon-chevron-left{margin-left:-109px !important;}

.carousel-control .glyphicon-chevron-right{margin-right:-112px !important;}

#portfolio_page .dropdown{//margin-left:2%;}

#portfolio_page .btn-primary{font-size:32px;//margin-left:9%;}

#portfolio_page .dropdown-menu{//margin-left:9%;}

#page_6 .see_more_bg h3{margin-top:5%;margin-bottom:6%;}

.see_more_bg .fa-cog{}

.about_video h1{font-size:60px;}

.about_video p{font-size:18px;}

.team_details h3{font-size:30px;}

.video_bottom{padding:10px 20px;}

.team_details h1{font-size:60px;margin-bottom:140px;}

.clients{padding:10px 5px;}

.clients h1{font-size:60px;margin-bottom:3%;}

.about_2 h1 a,.about h1 a{font-size:50px;}

.contact_part h1{font-size:60px;}

.contact_part span{font-size:60px;//float:left;margin-bottom:11px;}

.info_foundry{padding:10% 5%;}

.form-group label{font-size:22px;}

#typed_about5{font-size:60px;}

.about_ani_2 span.typed-cursor {

font-size: 60px;

top:-6px;

}

.clients span.typed-cursor{

	font-size:70px;

}

#typed_about1, #typed_about2, #typed_about3{font-family:'Fjalla One', sans-serif;font-size:32px;}

.clients #typed_about6{font-size:70px;}

.contact_part #typed_contact, .contact_part span.typed-cursor{font-size:55px;}

#portfolio_page .btn-primary ,#portfolio_page .dropdown-menu{min-width:350px;}

#portfolio_page .dropdown span{top:-2px;}

.about_2 a{font-size:40px;}

.details{padding:5px 0px;}

.details h3{margin:5px;}

.details .comp_name ,h6.cat_name{font-size:14px;margin:5px;}

.details h3 a{font-size:20px;}

}

@media screen and (max-width:980px){.slider_text h3{font-size:42px;}

.tp_2 span#typed_home_2{font-size:42px;}

section[id*="#page_"] div[class*="google_bg"]{margin-top:20%;padding:75px;}

.menu_list{margin-top:15%;}

.team_details h3{font-size:26px;margin-left:-50px;}

.client_view .view h4{font-size:16px;}

.client_view .view h5{font-size:12px;line-height:12px;}

.info_foundry{padding:10% 5% 11%;}

.contact_social_icons{}

.contact_logo_part h3{font-family:'Fjalla One', sans-serif;color:#fff;margin-top:35px;}

.about_2 a{font-size:40px;}

.contact_social_icons img{float:left;padding:10px 9px;}

#typed_about4,.about_ani_1 span.typed-cursor{font-size:70px;}

#typed_about5,.about_ani_2 span.typed-cursor{font-size:50px;}

#typed_about1, #typed_about2, #typed_about3,.about_ani span.typed-cursor{font-size:28px;top:-5px;}

.clients #typed_about6 ,.clients span.typed-cursor{font-size:55px;}

.team_description,.clients,.client_view{margin-bottom:50px;padding:10px 0px;}

.client_view .col-md-2{width:20%;margin:0px;padding:5px;}

.slider_text #typed_home, .tp_1 span.typed-cursor, .slider_text #typed_2, .google_bg2 span.typed-cursor, .slider_text #typed_3, .google_bg3 span.typed-cursor, .slider_text #typed_4, .google_bg4 span.typed-cursor, .slider_text #typed_5, .google_bg5 span.typed-cursor{font-size:100px !important;}

}

@media screen and (max-width:800px){.info_foundry{padding:13% 0% 14%;}

.about_2 h1 a, .about h1 a{font-size:35px;}

}

@media screen and (max-width:768px){.menu_list{margin-top:33%;}

.carousel-control .glyphicon-chevron-left{margin-left:-88% !important;}

.carousel-control .glyphicon-chevron-right{margin-right:-88% !important;}

.about_2 h1 a, .about h1 a{font-size:35px;}

.contact_part h1{font-size:46px;}

.contact_part span{font-size:46px;//float:left;margin-bottom:11px;}

.info_foundry{top:-3%;left:21%;}

.about_ani_2{min-height:120px;}

#typed_about5,.about_ani_2 span.typed-cursor,#typed_about4, .about_ani_1 span.typed-cursor ,.clients #typed_about6, .clients span.typed-cursor{font-size:45px;line-height:50px;top:-7px;}

.slider_text #typed_home, .tp_1 span.typed-cursor, .slider_text #typed_2, .google_bg2 span.typed-cursor, .slider_text #typed_3, .google_bg3 span.typed-cursor, .slider_text #typed_4, .google_bg4 span.typed-cursor, .slider_text #typed_5, .google_bg5 span.typed-cursor{font-size:90px !important;}

div[class*="google_bg"] a.btn{font-size:12px;padding:7px 20px;}

.about_ani_2 span.typed-cursor{top:-7px;}

#portfolio_page .btn-primary ,#portfolio_page .dropdown-menu{min-width:350px;}

#typed_about1, #typed_about2, #typed_about3, .about_ani span.typed-cursor{font-size:20px;top:-5px;}

#curly-brace{width:180px;margin-bottom: 65px;}

.contact_part #typed_contact, .contact_part span.typed-cursor{font-size:40px;}

#portfolio_page #typed_work, #portfolio_page .typed-cursor, #ajax_portfolio_page #typed_work_2{font-size:40px;}

.contact_logo_part{padding:30px 10px;}

.detail_content h3{font-size:16px;}

.detail_content h1{font-size:26px;}

body.single-portfolio .carousel-inner>.item>img{//height:100%;}

.text_field span label.error{top:44px;left:-22px;}

.about_2 a {

    font-size: 36px;

}

}

@media screen and (max-width:736px){.menu_list{margin-top:10%;}

.menu_list li a{font-size:60px;line-height:60px;}

.scroll h5{color:#fff;margin-bottom:2px;font-size:10px;}

.scroll div span{font-size:10px;}

.contact_logo_part .form-inline .form-control{float:left;margin-left:116px;}

.contact_logo_part .btn-primary{height:40px;margin-left:-131px;}

.protfolio_bottom{padding:75px;}

.protfolio_bottom_img img{//margin-top:20px;//margin-bottom:20px;}

.team_details{padding:35px 30px 0px;}

.team{margin-bottom:10px;}

.about_ani_2{min-height:130px;}

#typed_about5, .about_ani_2 span.typed-cursor,#typed_about4, .about_ani_1 span.typed-cursor,.clients #typed_about6, .clients span.typed-cursor{font-size:40px;line-height:50px;}

.details{padding:10px 0px;}

.details .comp_name, h6.cat_name{font-size:18px;margin:10px;}

.details h3{margin:20px;}

.details h3 a{font-size:30px;}

#curly-brace {margin-bottom: 200px;}

.footer_link_pages .col-md-4 {width: 33%;}

.about_2 {border: 3px solid #46AFCC;}

.about_2 a {font-size: 27px;}

}

@media screen and (max-width:668px){.contact_part .text_field{float:left;}

.contact_logo_part .form-inline .form-control{float:left;margin-left:105px;margin-right:0px;height:30px;}

.contact_logo_part .btn-primary{margin-left:-110px;height:32px;}

.mc4wp-form-fields .input-group input {

    height: 32px;}

#typed_about1, #typed_about2, #typed_about3, .about_ani span.typed-cursor{font-size:22px;}

#curly-brace{width:167px;}

#typed_about5, .about_ani_2 span.typed-cursor{font-size:36px;}

.clients #typed_about6, .clients span.typed-cursor{font-size:36px;}

.about_video{padding:70px 25px 30px;}

#typed_about4, .about_ani_1 span.typed-cursor{top:-9px;}

.about_video p{text-align:justify;}

#typed_about1, #typed_about2, #typed_about3{border-bottom:2px solid #fff;}

.description{padding:70px 25px 50px;}

.deg_content, .pro_content{padding:7px;text-align:left;font-size:12px;line-height:19px;}

.clients p{font-size:18px;text-align:justify;margin-top:10px;margin-bottom:10px;}

.video-wrapper .video-btns .btn{width:50px;height:50px;line-height:51px;font-size:26px;}

.slider_text #typed_home, .tp_1 span.typed-cursor, .slider_text #typed_2, .google_bg2 span.typed-cursor, .slider_text #typed_3, .google_bg3 span.typed-cursor, .slider_text #typed_4, .google_bg4 span.typed-cursor, .slider_text #typed_5, .google_bg5 span.typed-cursor{font-size:60px!important;top:-7px;}

.tp_1 span.typed-cursor{line-height:80px;}

.tp_2 span.typed-cursor, .tp_2 span#typed_home_2{font-size:30px;}

.see_more_bg .more_typed{margin:10px 0 !important;}

div[class*="google_bg"]{padding:50px 50px;}

}

@media screen and (max-width:640px){.menu_list{margin-top:7%;}

}

@media screen and (max-width:600px){.project_detail{width:60%;}

.contact_part h1, .contact_part span{font-size:35px;}

.text_field{padding:20px;margin-bottom:20px;float:left;}

.form-group span{height:40px;margin:0;padding:0;//float:left;}

.form-group label{font-size:20px;float:left;height:40px;}

.info_foundry{left:22%;}

.contact_logo_part .form-group input{float:left;}

.contact_logo_part .form-group{width:55%;position:relative;left:81px;}

.contact_social_icons img{float:left;padding:10px 4px;}

.protfolio_bottom{padding:30px 75px;}

.protfolio_bottom_img img{margin-top:8%;margin-bottom:8%;}

}

@media screen and (max-width:568px){.contact_part{padding:75px 10px 5px;}

.contact_logo_part .form-inline .form-control{float:left;margin-left:-17px;margin-right:0px;height:30px;}

.contact_logo_part .btn-primary{margin-left:-2px;height:30px;font-size:13px;}

.mc4wp-form-fields .input-group input {

    height: 30px;}

#typed_about5, .about_ani_2 span.typed-cursor{font-size:30px;top:-5px;}

#typed_about1, #typed_about2, #typed_about3, .about_ani span.typed-cursor{font-size:16px;top:-3px;}

#curly-brace{width:130px;}

.next_project{//margin-left:-15px;}

.slide_btn{top:40%;}

div[class*="google_bg"]{padding:30px 50px;}

#portfolio_page #typed_work, #portfolio_page .typed-cursor,#ajax_portfolio_page #typed_work_2{font-size:32px;}

}

@media screen and (max-width:480px){.menu_list{margin-top:7%;}

.menu_list li a{font-size:60px;line-height:60px;}

.social_icons img{margin:3px;padding-top:4%;}

.next_pre_btn{//margin-left:20%;}

.team_details h3{font-size:16px;margin-left:-102px;}

#curly-brace{width:85px;margin-bottom: 150px;

    margin-top: -20px;}

.team_details h1{font-size:35px;margin-bottom:55px;}

.client_view .col-md-2{width:100%;padding:5px;}

#portfolio_page .btn-primary{font-size:26px;min-width:300px;line-height:26px;}

#portfolio_page .dropdown-menu{min-width:300px;margin-top:8px;}

#portfolio_page .dropdown-menu li a{font-size:26px;line-height:47px;}

#portfolio_page .dropdown span{font-size:20px;position:relative;top:-1px;left:21px;}

.about h1, .about_2 h1{margin:0px;}

.about_2 h1 a, .about h1 a{font-size:20px;position:relative;top:-5px;font-weight:bold;}

.port_bottom{padding:20px 15px 20px;background-color:#000;clear:both;}

.protfolio_bottom_img img{margin-top:8%;margin-bottom:8%;}

.about_video{padding:80px 5px 15px;}

.team_description{padding:10px 10px;margin-bottom:20px;}

.deg_content, .pro_content{padding:5px;}

.team_description .col-xs-4{padding:3px;}

.clients h1{font-size:35px;margin-bottom:3%;}

.about_video h1{font-size:35px;}

.about_video h4{font-size:22px;}

.about_video p{font-size:16px;}

.clients p{font-size:16px;margin-bottom:0px;margin-top:42px;}

.protfolio_bottom{padding:20px 75px 20px;}

.contact_logo_part .form-group{left:56px;}

.clients #typed_about6, .clients span.typed-cursor{font-size:26px;}

.client_view .col-md-2:nth-child(2n) .view_bg{margin-top:0;margin-left:2%;margin-right:2%;}

.video-wrapper .video-btns .btn{width:40px;height:40px;line-height:40px;font-size:20px;margin:9px;}

.deg_content::after{position:absolute;content:"";bottom:100%;left:45%;//width:15px;border-top:0;margin:0 auto;border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:10px solid #42B2D7;}

.pro_content:after{position:absolute;content:"";bottom:100%;left:45%;border-top:0;margin:0 auto;border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:10px solid #42B2D7;}

.slider_text #typed_home, .tp_1 span.typed-cursor, .slider_text #typed_2, .google_bg2 span.typed-cursor, .slider_text #typed_3, .google_bg3 span.typed-cursor, .slider_text #typed_4, .google_bg4 span.typed-cursor, .slider_text #typed_5, .google_bg5 span.typed-cursor{font-size:40px !important;}

.tp_2 span#typed_home2 ,.tp_2 span.typed-cursor{font-size:25px !important;}

.contact_part #typed_contact, .contact_part span.typed-cursor{font-size:28px;}

.contact_part{padding:75px 0px 10px;}

.form-group p{font-size:20px !important;line-height:30px !important;}

#contact_part .form-inline .form-control{font-size:14px !important;height:30px !important;}

.contact_logo{width:32%;}

.contact_social_icons .fa{font-size:25px;margin:2px;}

.about_2 a{font-size:32px;line-height:60px;}

.tp_1 span.typed-cursor,div[class*="google_bg"] .typed-cursor{top:-7px;}

div[class*="google_bg"]{padding:28px;min-height:160px;min-width:70%;}

div[class*="google_bg"] a.btn{font-size:9px;padding:5px 5px;}

.tp_1 span.typed-cursor{line-height:63px;}

.slider_text h3 ,.tp_2 span.typed-cursor, .tp_2 span#typed_home_2{font-size:25px;}

.contact_logo_part .form-inline .form-control{margin-left:0px;}

.see_more_bg span{font-size:30px !important;}

.video_bottom{margin:0;}

.text_field span label.error{top:51px;left:-21px;font-size:12px;}

}

@media screen and (max-width:414px){.footer_link_pages {display: inline;}

.menu_list{margin-top:50%;}

.footer_link_pages .col-md-4 {width: 100%;margin-bottom: 10px;padding:0;}

.menu_list li a{line-height:70px;}

.contact_logo_part .form-inline .form-control{margin-left:-20px;margin-right:0px;height:30px;font-size:12px;}

.contact_logo_part .btn-primary{margin-left:0px;height:30px;font-size:12px;}

.contact_logo{width:40%;}

.contact_social_icons img{float:left;padding:10px 6px;}

#typed_about5, .about_ani_2 span.typed-cursor{font-size:22px;}

#typed_about1, #typed_about2, #typed_about3, .about_ani span.typed-cursor{font-size:14px;}

.about_video p{font-size:14px;}

.team{margin-bottom:20px;}

#typed_about1, #typed_about2, #typed_about3, .about_ani span.typed-cursor,.clients span.typed-cursor ,#typed_about4, .about_ani_1 span.typed-cursor,.about_ani_2 span.typed-cursor{top:-3px;font-size:12px;}

#typed_about5, .about_ani_2 span.typed-cursor, #typed_about4, .about_ani_1 span.typed-cursor, .clients #typed_about6, .clients span.typed-cursor{font-size:22px;line-height:25px;}

.about_ani_2{min-height:70px;}

.video_bottom{padding:10px 30px;}

.description{padding:20px 20px 25px;}

.team_description, .clients, .client_view{margin-bottom:10px;}

.team_description{padding:10px 0px;margin-bottom:20px;694}

#portfolio_details_page{padding:78px 35px 0px;}

.project_detail h3{font-size:14px;line-height:15px;}

.next_pre_btn{//margin-left:-35px;}

.next_project{//margin-left:25%;}

#portfolio_page #typed_work,#portfolio_page .typed-cursor,#ajax_portfolio_page #typed_work_2{font-size:30px;}

.work_typed{margin-bottom:10px;}

#portfolio_page{padding:50px 15px 10px;}

.project_detail{width:60%;height:35px;margin:5px;margin-right:0;margin-left:0;}

.next_project .next_btnn{width:35px;height:35px;border:1px solid #fff;line-height:35px;margin:5px;}

.next_project .next_btnn i{font-size:17px;line-height:35px;}

.carousel-indicators{bottom:5px;}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{left:100%;}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{right:100%;}

.text_field span label.error{top:44px;}

.text_field{margin:10px 0 50px;}

.mc4wp-form-fields .input-group {

    width: 100%;

}

.mc4wp-form-fields .input-group input {

    height: 30px;}

}

.team_details {background-position: -5px 100%;	}

@media screen and (max-width:375px){.contact_logo_part .form-inline .form-control{margin-left:-16px;margin-right:19px;height:24px;font-size:12px;}

.contact_logo_part .btn-primary{height:25px;font-size:10px;line-height:10px;margin-left:0;}

.contact_logo{width:50%;}

#typed_about5, .about_ani_2 span.typed-cursor{font-size:21px;}

#typed_about1, #typed_about2, #typed_about3{font-size:12px;border-bottom:1px solid #fff;}

.about_ani span.typed-cursor{font-size:12px;border-bottom:none;}

.more_buttons a.btn{min-width:100px;}

.detail_content h3{font-size:14px;}

.detail_content h1{font-size:22px;}

.mc4wp-form-fields .input-group input {

    height: 25px;}

}

@media screen and (max-width:360px){.form-inline .form-control{font-size:13px;width:90px;height:35px;}

.form-group p{font-size:16px !important;line-height:26px !important;}

.contact_part #typed_contact, .contact_part span.typed-cursor{font-size:24px;}

.project_detail h3{font-size:13px;}

.text_field span label.error{min-width:200% !important;}

}

@media screen and (max-width:320px){.menu_list{margin-top:60%;}

.menu_list li a{font-size:45px;line-height:50px;}

.social_icons{margin-top:13%;}

.next_project .col-xs-12{margin:0px;padding:0px;}

.project_detail{width:60%;height:35px;margin:5px;margin-right:0;margin-left:0;}

.next_project .next_btnn{width:35px;height:35px;border:1px solid #fff;line-height:35px;margin:5px;}

.project_detail h3{font-size:12px;//line-height:0px;}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{left:100%;}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{right:100%;}

#portfolio_page #typed_work,#portfolio_page .typed-cursor,#ajax_portfolio_page #typed_work_2{font-size:18px;margin-bottom:30px;}

#portfolio_page .btn-primary{font-size:13px;min-width:162px;line-height:11px;border:2px solid #fff;}

#portfolio_page .dropdown span{font-size:10px;position:relative;top:-1px;left:8px;}

#portfolio_page .dropdown-menu li a{font-size:13px;line-height:29px;}

#portfolio_page .dropdown-menu{min-width:162px;margin-top:-8px;}

.protfolio_bottom_img img{//margin-top:16%;}

.team_details h3{font-size:12px;margin-left:-130px;}

#curly-brace{width:68px;margin-bottom: 150px;

    margin-top: -20px;}

.clients{padding:10px 10px;}

.clients p{font-size:15px;margin-bottom:20px;}

.client_view{//margin-bottom:50px;padding:10px 10px;}

.contact_logo{width:50%;}

.about_2 ,.about_2:hover{border:2px solid #46AFCC;}

.about_2 a{font-size:23px;line-height:46px;}

.contact_logo_part h3{margin-top:12%;}

.contact_logo_part .form-group{left:20px;}

#typed_about4, .about_ani_1 span.typed-cursor{font-size:28px;}

.about_video h4{font-size:20px;}

.about_video p{font-size:16px;line-height:20px;text-align:justify;}

#typed_about5, .about_ani_2 span.typed-cursor{font-size:17px;}

#typed_about1, #typed_about2, #typed_about3, .about_ani span.typed-cursor{font-size:10px;}

.clients #typed_about6, .clients span.typed-cursor{font-size:20px;}

.tp_2 span#typed_home2, .tp_2 span.typed-cursor{font-size:20px !important;}

.slider_text #typed_home, .tp_1 span.typed-cursor, .slider_text #typed_2, .google_bg2 span.typed-cursor, .slider_text #typed_3, .google_bg3 span.typed-cursor, .slider_text #typed_4, .google_bg4 span.typed-cursor, .slider_text #typed_5, .google_bg5 span.typed-cursor{font-size:32px !important;}

#portfolio_page{padding:50px 15px 10px;}

#portfolio_page .dropdown{//margin-left:-11px;//float:left;}

.contact_part #typed_contact, .contact_part span.typed-cursor{font-size:20px;}

.contact_part .form-inline .text_field{margin:10px 0;}

.contact_logo_part .form-inline .form-control{margin-left:8px;}

.contact_logo_part .btn-primary{margin-left:-24px;}

div[class*="google_bg"]{padding:10px;min-height:120px;min-width:66%;}

div[class*="google_bg"] a.btn{margin-top:9px;}

.see_more_bg span{font-size:26px !important;}

.more_buttons a.btn{border:1px solid #fff;font-size:9px;min-width:75px;}

.social_icons a .fa{font-size:24px;margin:3px;}

.next_project{margin-left:0;}

.next_project .next_btnn i{font-size:17px;line-height:35px;}

.slide_btn{right:12px;top:41%;}

.info_foundry{left:18%;}

.text_field span label.error{top:41px;left:-24px;font-size:12px;min-width:170%;}

}



video#videobg1, video#videobg2, video#videobg3 {
	width: 100% !important;
}



.casestudy_page #page_1{
	display: none !important;
}